<h1>Welcome to Your Address Book!!</h1>

<a href= contacts/new>
<img src="/assets/add.png" alt="Go to W3Schools!" width="42" height="42" border="0" align = "left">
</a>



<a href = contacts>
<img src="/assets/hpic1.png" alt="AddressBook" height = "25%" width = "25%">
</a>


