<h2>Address Book Contacts</h2>
<p>
<a href= contacts/new>
<img src="/assets/add.png" alt="Go to W3Schools!" width="42" height="42" border="0" align = "left"> 
<h5>Add New Contact</h5>
</a>

</p>


<strong text-align: "center">Search Bar: </strong>
<input text-align: "center" type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for Contact by Name">

<div id = "Box1">
<table id = "contactTable">
    
    
    </tr>
    <tr>
     <th>Last</th>
     <th>First</th>
     
    </tr>
    
    
    
    
    <% @contacts.each do |contact| %>
    
        <tr>
            <td><%=contact.last %></td>
            <td><%=contact.first%></td>
            <td><button type = "button" id="button1"><%= link_to 'Contact Info', contact_path(contact) %></button>
            <button type = "button" id="button1"><%= link_to 'Edit', edit_contact_path(contact) %></button></td>
           
    </tr>
  <% end %>
  
</table>
</div>
<p>
<h3 id = "event">Events</h3>
<a href = contacts/:contact_id/events>
<img src="/assets/calender.png" alt="Events" height = "15%" width = "15%"  id = "calender" float="right" position="sticky">
</a>
</p>

<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>