
h1{
    font-size: 100px;
    font-family: georgia, serif;
    color: skyblue;
    text-align: center;
}

h2{
    font-size: 50px;
    font-family: georgia, serif;
    color: skyblue;
    text-align: center;
}

 

body {
    
    font-size: 35px;
    background-color: #DCDCDC;
}

img { 
  
    display: block;
    margin-left: auto;
    margin-right: auto;

}

input[type = text]{
    width: 50%;
    padding: 12px;
    border: 2px solid #ccc;
    
    
}

input[type=button], input[type=submit]{
    background-color: skyblue;
    font-weight:bold;
    font-size:25px;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 55%;
    margin-left: 2%;
    margin-top:5%;
    padding-left:5%;
    float:left;
    font-size: "Comic Sans MS", cursive, sans-serif;
    
    
}

th{
    text-align: left;
    height: 45px;
}

#calender {
    
    margin-right: 10%;
    
    margin-left: 75%;
    padding-right:10%;
    margin-bottom: 75%;  
    display:block;
}

#event{
    
    
    margin-bottom:0%;
    padding-right:15%;
    
    float: right;
}

#myInput
{
  width:30%;
  margin-right: auto;
  margin-left: auto; 
     
}

#back{
    background-color:white;
    border-color:skyblue;
}

#back a:link{
    border-color: skyblue;
    color:skyblue;
    text-decoration:none;
    font-weight:bold;
    font-size:30px;
    text-align:left;
    
}

#back a:visited{
   border-color: blue;
    color:skyblue;
    text-decoration:none;
    font-weight:bold;
    font-size:30px;
    text-align:left;}

#show{
    
    border-color:skyblue;
    margin-top: 10%;
    margin-right:70%;
    background-color:white;
}

#show a:link{
    border-color: skyblue;
    color:skyblue;
    text-decoration:none;
    font-weight:bold;
    font-size:30px;
    text-align:left;
    
}

#show a:visited{
   border-color: blue;
    color:skyblue;
    text-decoration:none;
    font-weight:bold;
    font-size:30px;
    text-align:left;
}


#button1{
    
    background-color:white;
    border-color:skyblue;
    
}

#button1 a:link{
    
    color:skyblue;
    text-decoration:none;
    font-weight:bold;
    font-size:20px;
}

#button1 a:visited{
   
    color:skyblue;
    text-decoration:none;
    font-weight:bold;
    font-size:20px;
}


#delete
{
    border-color:red;
    background-color:white;
    margin-left:5%;
}

#delete a:link
{
    
    text-decoration:none;
   color:red;
    font-weight:bold;
    font-size:25px;
    text-align:middle;
}

#delete a:visited
{
    text-decoration:none;
    color:red;
    font-weight:bold;
    font-size:25px;
}

#contactform{
    
   ;
    float: left;
}

#eventform{
    float:right;
    margin-right:5%;
    
}

