
h1{
    font-size: 100px;
    font-family: georgia, serif;
    color: skyblue;
    text-align: center;
}

h2{
    font-size: 50px;
    font-family: georgia, serif;
    color: skyblue;
    text-align: center;
}

 

body {
    
    background-color: #DCDCDC;
}

img { 
    display: block;
    margin-left: auto;
    margin-right: auto;

}

input[type = text]{
    width: 50%;
    padding: 12px;
    border: 2px solid #ccc;
    background-color: #C59284;
    
}

input[type=button], input[type=submit]{
    background-color: #568A7E;
    float: right;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 60%;
    margin-left: 2%;
    margin-top:5%;
    padding-left:5%;
    float:left;
    font-size: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid black ;
}

th{
    text-align: left;
    height: 45px;
}

#calender {
    
    padding-left: 10%;
    padding-right:10%;
    margin-bottom: 80%;
    
}

#event{
    
    
    margin-top: 5%;
    padding-right:15%;
    
    float: right;
}

#myInput
{
  
  margin-right: auto;
  margin-left: auto; 
     
}

a:link, a:visited {
    
    border-color: #4CAF50;
    color: green;
    text-decoration:none;
}

#contactform{
    
    margin-left:10%;
    float: left;
}

#eventform{
    float:right;
    margin-right:10%;
}